body{
      background: url(../images/blur-breakfast-business-270691.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;  
}

.he7-log-in{
/*
    background: rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
*/
    
}
.he7-log-in .oppo{

}
.he7-log-in h2{
text-align: center;
    font-size: 3.5em;
    color: #223260;
    margin-bottom: 20px;
    margin-top: 30px;
}
.he7-log-in h2 span{
    color: #19b4ff;
}
.he7-log-in h2 a{
    
}
.he7-log-in h2 a img{
    display: block;
    width: 150px;
    height: 80px;
}

.he7-log-in .log-in-he7{
    width: 55%;
    margin: auto;
    /* box-shadow: 0 0 25px #000; */
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.95);
    padding: 50px;
    text-align: center;
    background: rgba(0, 0, 0, .33);
    margin-bottom: 60px;
/*
    border: 3px solid #ffc722;
    border-radius: 10px;
*/
}
@media(max-width:1199px){
    .he7-log-in .log-in-he7{
    width: 60%;
    }
}
@media(max-width:1024px){
    .he7-log-in .log-in-he7{
    width: 65%;
    }
}
@media(max-width:991px){
    .he7-log-in .log-in-he7{
    width: 75%;
    }
}
@media(max-width:768px){
    .he7-log-in .log-in-he7{
    width: 100%;
    }
}

.he7-log-in .log-in-he7 .images{
    
}
.he7-log-in .log-in-he7 .images img{
        border: 2px solid #fff;
    border-radius: 50%;
        width: 150px;
    height: 150px;
}
.he7-log-in .log-in-he7 .images h2{
    color: #fff;
    font-size: 26px;
    letter-spacing: 1px;
    margin-bottom: 1.5em;
}
.he7-log-in .log-in-he7 .inputs-he7{
    
}
.he7-log-in .log-in-he7 .inputs-he7 .pom-agile{
        padding: 11px 15px;
    background: #fff;
    margin-bottom: 16px;
    border-radius: 4px;
}
.he7-log-in .log-in-he7 .inputs-he7 .pom-agile span{
    float: right;
    line-height: 1.5;
    margin-left: 10px;
    color: #000;
    border-left: 1px solid rgba(0, 0, 0, 0.28);
    padding-left: 10px;
}
.he7-log-in .log-in-he7 .inputs-he7 .pom-agile input{
        outline: none;
    font-size: .9em;
    border: none;
    background: transparent;
    width: 91%;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}
@media(max-width:768px){
    .he7-log-in .log-in-he7 .inputs-he7 .pom-agile input{
        width: 85%;
    }
}
.he7-log-in .log-in-he7 .inputs-he7 .cheked-he7{
        list-style: none;
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
    text-align: left;
    padding-left: 10px;
}
.he7-log-in .log-in-he7 .inputs-he7 .cheked-he7 li{
    
}
.he7-log-in .log-in-he7 .inputs-he7 .cheked-he7 li input{
    display: none;
}
.cheked-he7 li input[type="checkbox"]:checked+label span:first-child:before {
    content: "";
    background: url(../images/tick-2.png)no-repeat;
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 10px;
    width: 10px;
    height: 10px;
}
.cheked-he7 li input[type="checkbox"]+label span:first-child {
    width: 15px;
    height: 15px;
    display: inline-block;
    border: 2px solid #18b4ff;
    position: absolute;
    top: 4px;
    left: 20px;
    bottom: 4px;
}
.he7-log-in .log-in-he7 .inputs-he7 .cheked-he7 li label {
        position: relative;
    padding-left: 50px;
    border: #F0F8FF;
    display: inline-block;
    font-size: 15px;
    color: #fff;
        cursor: pointer;
}
.he7-log-in .log-in-he7 .inputs-he7 .cheked-he7 li a {
        float: right;
    margin-right: 40px;
    color: #fff;
    font-size: 15px;
}
.he7-log-in .log-in-he7 .inputs-he7 .button{
    
}
.he7-log-in .log-in-he7 .inputs-he7 .button input[type="submit"] {
    color: #fff;
    background: #18B4FF;
    border: none;
    padding: 5px 0;
    margin: 0 0 20px;
    outline: none;
    width: 100%;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.he7-log-in .log-in-he7 .other-log-he7{
        background: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(255, 255, 255, 0.10);
    padding: 1em 1em;
    margin-top: 2em;
}
.he7-log-in .log-in-he7 .other-log-he7 .sub-hdg-he7{
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    margin-bottom: 1em;
    font-family: 'Montserrat', sans-serif;
}
.he7-log-in .log-in-he7 .other-log-he7 .social-icons-he7{
        padding-left: 0;
}
.he7-log-in .log-in-he7 .other-log-he7 .social-icons-he7 li{
    display: inline-block;
}
.he7-log-in .log-in-he7 .other-log-he7 .social-icons-he7 li a{
        font-size: 16px;
    margin: 0 .7em;
    width: 35px;
    height: 35px;
    background: rgba(255, 255, 255, 0.10);
    line-height: 37px;
    color: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}

.he7-log-in .log-in-he7 .other-log-he7 .social-icons-he7 li .fa-facebook-f:hover{
    background: #3b5998;
}

.he7-log-in .log-in-he7 .other-log-he7 .social-icons-he7 li .fa-google-plus-g:hover{
    background: #dd4b39;
}









